# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Checkpoints
checkpoints/
*.pth

# Outputs
outputs/

# TensorBoard
runs/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

dataset/
test_dataset.py

# Dataset
dataset/

# Temporary testing files
test_dataset.py

# Model weights
*.pth

# Training outputs
outputs/
checkpoints/